HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignore application.properties
# src/main/resources/application.properties
src/main/resources/application-prod.properties

# Ignore .env files (contain sensitive data)
.env
docker.env

# Ignore only Testing.java file from 'user' package
src/main/java/com/backendProject/SoulSync/user/Testing.java
